
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    box-sizing: border-box;

}


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4000;
    transition: 1s;
    transition-delay: 0.2s
    ;
}
.cc{
    width: 80vh;
    max-width: 300px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cc input,.cc button{
    width: 100%;

    margin: 0.5rem 0;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.8rem;
}
.cc input{
    background-color: #222;
    color: white;
    letter-spacing: 1px;
}
.cc button{
    background: rgb(0, 102, 255);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
  

}
.cc button:active{
   
    box-shadow: 2px 2px 10px rgba(0, 102, 255, 0.466);
}


:root{
    --dark:#1a1a1a;
    --light:#f9f9f9;
    --light2:white;
    --shadow:rgba(0, 0, 0, 0.041);
}

body{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light);
    
}
body.add-dark{
    --dark:#f1f1f1;
    --light:#1a1a1a;
    --light2:black;
}
.blog-container{
    width: 100%;
    max-width: 720px;
    padding: 0.8rem;
    height: fit-content;
    background-color: var(--light);
    


}
/* .blog-content{
   
} */
 h1,h3,h4{
    margin: 10px 0;
}
q h3{
    font-size: 1rem;
  
}
h1{
font-weight: 800;
font-size: 2.5rem;
}

h3{
    font-weight: 300;
    font-size: 2rem;
    
}
.blog-text h3{
    font-weight: 300;
    font-size: 21px;
    line-height: 42px;
    opacity: 0.8;
    color: var(--dark);
    
   
   
}
.blog-text h3 span{
    font-weight: 600;
    font-style: 28px;
}
.quote h3{
    font-style: 2rem;
    color: var(--dark);
    font-style: italic;
    font-weight:400;
}
@media (max-width:700px) {
  .blog-text h3{
font-size: 16px;
line-height: 26px;
    }
}


h4{
    color: var(--dark);

}
.blog-text{
    margin: 10px 0;
}
.blog-image img{
width: 100%;
border-radius: 10px;
}

.blog-info {
    display: flex;
    justify-content:space-between;
    align-items: center;

}
#ifr{
    width: 100%;
    height: 320px; 
  overflow:none ;

}
iframe{
    width: 100%;
    height: 320px;
    border-radius: 10px;
  overflow:none ;

}
 .btn{
    display: inline-block;
    padding: 1rem 1rem;
    text-align: center;
    background: rgb(14, 14, 14);
    color: rgb(255, 255, 255);
   font-size: 0.8rem;
    
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;
    border: 2px solid rgb(61, 61, 61);
}
.btn:active{
   background-color: white;
    color: rgb(255, 255, 255);

}
.back-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem ;

}
.back-button a{
    padding: 1rem;
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
    max-width: 400px;
    background-color:#111;
    border-radius: 10px;
    border: 2px solid black;
}