*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}
.about-section{
  display: flex;
  justify-content: center;
  align-items: center;
    width: 100%;
    background-color: #f1f1f1;
    height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}

.inner-container{
    padding: 32px;
    width: 64%;
    min-height: fit-content;
    height: 100%;

 
  
}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    color: #1f1f1f;
}
.text h3{
    line-height: 2rem;
color: #1f1f1f;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about-section{
     
        padding:50px 20px;
    }
    .inner-container{
        width: 100%;
    }
}
@media screen and (max-width: 800px){
    .about-section{
        padding: 32px;
    }
    .inner-container{
       padding: 0;
    }
}